@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	background-color: #78c1f3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-height: 100vh;
	padding: 60px 0;
}

/* Style for the content box */
.container {
	background-color: white;
	width: 100%;
	max-width: 550px;

	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	/* overflow-y: auto; */
}

.heading {
	border: none solid black;
	margin-bottom: 15px;
	font-size: 32px;
	font-weight: 600;
	font-family: "Poppins";
}
.header {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.nb {
	height: 37px;
}
.plus {
	height: 55px;
	cursor: pointer;
}

/* Input fields and the plus sign alignment */
.input-box {
	display: flex;
	justify-content: space-between;
	align-items: center; /* Aligns input fields with the plus sign */
	background: #edeef0;
	border-radius: 30px;
	margin-bottom: 25px;
	padding: 10px;
}

/* Adjust date and text input alignment */
input[type="text"] {
	width: 65%; /* Adjust width for better alignment */
	flex-grow: 1;
	background: transparent;
	border: none;
	outline: none;
	opacity: 0.8;
	padding: 12px 20px;
	font-size: 18px;
}

input[type="date"] {
	width: 30%; /* Smaller width for date */
	background-color: transparent;
	border: none;
	margin-right: 10px;
	text-align: center; /* Center the date input */
}
ul.list-items {
	padding: 0;
	margin-top: 15px;
	list-style-type: none;
}

.list-items li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f0f2f5;
	padding: 12px 20px;
	border-radius: 8px;
	margin-bottom: 10px;
	word-wrap: break-word;
}
/* .item {
	text-indent: 20px;
} */

.list-items li .task-info {
	display: flex;
	align-items: center;
	flex-grow: 2;
	margin-right: 10px;
}

.task-text {
	text-decoration: none;
	flex-grow: 1;
	word-break: break-word;
}

.checkmark {
	float: right;
	margin-left: 40px;
	font-size: 21px;
}

.task-date {
	flex-grow: 1;
	white-space: wrap;
}

/* Button styles */
button {
	background: transparent;
	border: none;
	cursor: pointer;
}

button img {
	width: 25px;
	height: 25px;
}

button.edit img {
	width: 52px;
	height: 52px;
	padding: 4px;
}

.closebtn:hover {
	color: black;
}

/* Clear button */
.clear {
	background-color: limegreen;
	width: 100px;
	height: 40px;
	font-size: 20px;
	margin-top: 10px;
	color: white;
	border-radius: 1rem;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	position: relative;
	left: 39%;
}
/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 768px) {
	/* .input-box {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      background: #edeef0;
      border-radius: 30px;
      margin-bottom: 25px;
      padding: 10px;
  }
   */

	input[type="text"] {
		width: 55%;
		/* text-wrap: nowrap; */
		background: transparent;
		border: none;
		outline: none;
		opacity: 0.8;
		padding: 8px 10px;
		font-size: 16px;
	}
	input[type="date"] {
		width: 35%; /* Smaller width for date */
		background-color: transparent;
		font-size: 10px;
		border: none;
		margin-right: 10px;
		font-size: 13px;
		text-align: center; /* Center the date input */
	}
	.plus {
		height: 35px;
		cursor: pointer;
	}
}

/* Medium devices such as tablets (768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Alert styles */
/* .alert {
	display: none;
	padding: 10px;
	border-radius: 0.5rem;
	background-color: limegreen;
	color: white;
	margin-bottom: 15px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity 0.6s;
} */

/* .alert.show {
	display: block;
} */

.closebtn {
	float: right;
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
}
.alert {
	display: block;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity 0.6s;
	padding: 10px 18px;
	border: 1px solid transparent;
	border-radius: 0.5rem;
	font-size: 16px;
}
.no-input {
	background-color: #f42536;
	color: #f5d6d9;
	font-weight: 600;
}
.success {
	/* background-color: #d4edda; */
	background-color: rgb(8, 202, 8);
	color: #ffffff;
}
.repeated {
	background-color: #fff3cd;
	color: #856404;
}
.completed {
	background-color: #cce5ff;
	color: #004085;
}
.closebtn {
	position: absolute;
	line-height: 20px;
	cursor: pointer;
	/* transform: translateY(10%); */
	/* left: 202px; */
	top: 0;
	right: 1px;
	font-size: 22px;
}
